<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="app">
    <button v-on:click="sort1">점수순</button>
    <ul>
        <li v-for="obj in scores">{{obj.mid}} = {{obj.score}} <b v-if="checkPass(obj.score)">합격</b></li>
    </ul>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>

    new Vue({
        el:"#app",
        data:{
            scores: [
                {mid: "USER00", score:20 },
                {mid: "USER01", score:40 },
                {mid: "USER02", score:70 },
                {mid: "USER03", score:50 },
                {mid: "USER04", score:90 }
                ]
        },
        methods:{
            checkPass:function(value){ return value > 50 },
            sort1:function(){
                this.scores = this.scores.sort((a,b) => a.score - b.score)
            }
        }
    })
</script>
</body>
</html>